node_modules/
.env
.DS_Store
venv/
__pycache__/
*.pyc
.next/
data/*.pdf
data/digital-twin-repos/
chroma_db/
*.log
backend/chroma_db/
.vscode/
backend/build/
backend/*.zip
terraform/lambda_ingestion/build/
terraform/lambda_ingestion/*.zip
terraform.tfvars
terraform/tfplan
output.json
