node_modules/
.env
.DS_Store
venv/
__pycache__/
*.pyc
.next/
data/*.pdf
data/digital-twin-repos/
chroma_db/
*.log
lambdas/api/chroma_db/
.vscode/
lambdas/api/build/
lambdas/api/*.zip
lambdas/ingestion/build/
lambdas/ingestion/*.zip
terraform.tfvars
terraform/tfplan
output.json

# Personal tutorials and notes
tutorial.md
